* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

::-o-scrollbar {
  display: none;
}

::-google-ms-scrollbar {
  display: none;
}

::-khtml-scrollbar {
  display: none;
}

.dropdown_wrapper {
  max-width: 992px;
  margin: 3rem auto;
}
.dropdown_wrapper .custom_nl_dropdown * {
  font-family: "Fieldwork";
}
.dropdown_wrapper .custom_nl_dropdown label[for*=form-options] {
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
}
.dropdown_wrapper .custom_nl_dropdown select.dropdown_action_ready ~ .ui-button {
  font-weight: bold;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button.ui-button {
  width: 446px;
  height: 64px;
  background: transparent;
  border: 1px solid #B0B3B3;
  padding: 16px 18px;
  border-radius: 16px;
  color: #000000;
  font-family: "Fieldwork";
  font-style: normal;
  font-weight: 300;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button.ui-button .ui-selectmenu-text {
  order: 1;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button.ui-button .ui-selectmenu-icon {
  order: 2;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button.ui-button.ui-selectmenu-button-open {
  border: 2px solid #0071BC;
  color: #1E86CB;
  border-radius: 16px 16px 0px 0px;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button.ui-button .ui-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.0079 8L0.147903 0.865962C0.101039 0.819584 0.0638365 0.764407 0.0384521 0.703613C0.0130678 0.64282 0 0.577613 0 0.511754C0 0.445896 0.0130678 0.380689 0.0384521 0.319895C0.0638365 0.259101 0.101039 0.203924 0.147903 0.157547C0.194385 0.110787 0.249694 0.0736731 0.310623 0.0483454C0.371553 0.0230177 0.436893 0.0099779 0.502899 0.0099779C0.568905 0.0099779 0.634261 0.0230177 0.69519 0.0483454C0.75612 0.0736731 0.811429 0.110787 0.85791 0.157547L6.99791 6.53328L13.1379 0.147569C13.1844 0.10081 13.2397 0.0636952 13.3006 0.0383675C13.3615 0.0130398 13.4269 0 13.4929 0C13.5589 0 13.6243 0.0130398 13.6852 0.0383675C13.7461 0.0636952 13.8014 0.10081 13.8479 0.147569C13.8948 0.193947 13.932 0.249124 13.9574 0.309918C13.9827 0.370711 13.9958 0.435918 13.9958 0.501777C13.9958 0.567635 13.9827 0.632842 13.9574 0.693636C13.932 0.754429 13.8948 0.809606 13.8479 0.855984L7.0079 8Z' fill='%230071BC'/%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(0deg);
  transition: 0.1s;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button-open .ui-icon {
  transform: rotate(180deg) !important;
}
.dropdown_wrapper #dropdown_select_icon * {
  font-family: "Fieldwork", sans-serif;
}
.dropdown_wrapper #dropdown_select_icon .ui-button {
  padding-left: 56px;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown_wrapper #dropdown_select_icon .ui-button .ui-selectmenu-text {
  order: 1;
}
.dropdown_wrapper #dropdown_select_icon .ui-button .ui-selectmenu-icon {
  order: 2;
}
.dropdown_wrapper #dropdown_select_icon .ui-button::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 10.165C3 5.105 7.032 1 12 1C16.968 1 21 5.1 21 10.165C21 15.23 12 23 12 23C12 23 3 15.225 3 10.165ZM4.02857 10.145C4.02857 13.645 9.26914 19.145 12 21.645C14.7309 19.14 19.9714 13.63 19.9714 10.165C19.9714 5.665 16.3971 2 12 2C7.60286 2 4.02857 5.665 4.02857 10.145ZM9.99995 6.58986C10.592 6.20527 11.288 6 12 6C12.9548 6 13.8705 6.36875 14.5456 7.02513C15.2207 7.6815 15.6 8.57174 15.6 9.5C15.6 10.1922 15.3889 10.8689 14.9933 11.4445C14.5977 12.0201 14.0355 12.4687 13.3777 12.7336C12.7198 12.9985 11.996 13.0678 11.2977 12.9327C10.5993 12.7977 9.95789 12.4644 9.45442 11.9749C8.95095 11.4854 8.60808 10.8617 8.46917 10.1828C8.33027 9.50388 8.40156 8.80015 8.67404 8.16061C8.94651 7.52107 9.40793 6.97444 9.99995 6.58986ZM10.5714 11.5787C10.9943 11.8534 11.4914 12 12 12C12.3377 12 12.6721 11.9353 12.984 11.8097C13.296 11.6841 13.5795 11.4999 13.8183 11.2678C14.0571 11.0356 14.2465 10.76 14.3757 10.4567C14.5049 10.1534 14.5714 9.8283 14.5714 9.5C14.5714 9.00555 14.4206 8.5222 14.1381 8.11107C13.8555 7.69995 13.4539 7.37952 12.984 7.1903C12.5142 7.00108 11.9971 6.95157 11.4983 7.04804C10.9995 7.1445 10.5413 7.3826 10.1817 7.73223C9.82211 8.08186 9.5772 8.52732 9.47798 9.01227C9.37876 9.49723 9.42969 9.99989 9.62431 10.4567C9.81894 10.9135 10.1485 11.304 10.5714 11.5787Z' fill='%230071BC'/%3E%3C/svg%3E");
  position: absolute;
  height: 25px;
  width: 25px;
  display: block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_wrapper #dropdown_select_label {
  position: relative;
}
.dropdown_wrapper #dropdown_select_label .custom_dropdown_label {
  position: absolute;
  left: 21px;
  bottom: 25px;
  transition: 0.1s;
}
.dropdown_wrapper #dropdown_select_label .ui-button .ui-selectmenu-text {
  opacity: 0;
}
.dropdown_wrapper #dropdown_select_label .ui-button.ui-selectmenu-button-open {
  color: #000000;
}
.dropdown_wrapper #dropdown_select_label .ui-button.ui-selectmenu-button-open ~ .custom_dropdown_label {
  bottom: 42px;
  font-size: 14px;
  opacity: 1;
  color: #1E86CB;
}
.dropdown_wrapper #dropdown_select_label .ui-button.ui-selectmenu-button-open .ui-selectmenu-text {
  padding-top: 7px;
  opacity: 1;
}
.dropdown_wrapper #dropdown_select_label .dropdown_action_ready ~ .custom_dropdown_label {
  opacity: 0;
}
.dropdown_wrapper #dropdown_select_label .dropdown_action_ready ~ .ui-button .ui-selectmenu-text {
  opacity: 1;
}
.dropdown_wrapper .dropdown_select_label_with_icon .custom_dropdown_label {
  left: 56px !important;
}
.dropdown_wrapper .dropdown_select_label_with_icon .ui-button {
  padding-left: 56px !important;
  position: relative;
  display: block;
}
.dropdown_wrapper .dropdown_select_label_with_icon .ui-button::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' fill='%231E86CB' height='25' class='bi bi-geo-alt' viewBox='0 0 16 16'%3E%3Cpath d='M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z'/%3E%3Cpath d='M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/%3E%3C/svg%3E");
  position: absolute;
  height: 25px;
  width: 25px;
  display: block;
  top: 50%;
  left: 21px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_select_menu .ui-widget.ui-widget-content {
  border-left: 2px solid #0071BC !important;
  border-right: 2px solid #0071BC !important;
  border-bottom: 2px solid #0071BC !important;
  border-top-color: transparent;
  border-radius: 0px 0px 16px 16px;
}
.custom_select_menu .ui-widget.ui-widget-content .ui-menu-item-wrapper {
  padding: 16px 18px;
  border: none !important;
  color: #000000;
}
.custom_select_menu .ui-widget.ui-widget-content .ui-menu-item-wrapper.ui-state-active {
  border: none !important;
  background: #E6F4F9;
  color: #000000;
}/*# sourceMappingURL=dropdown.css.map */