* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

// if no need scrollbar use it

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-o-scrollbar {
    display: none;
}

::-google-ms-scrollbar {
    display: none;
}

::-khtml-scrollbar {
    display: none;
}

// if no need scrollbar use it end.
// ...........Date Picker default css .......


// ........Global Variables ........;
$input_width: 446px;
$input_height: 64px;
$picker_primary_color: #1E86CB;
$input_border_color: #B0B3B3;
$input_padding: 16px 18px;
$input_font_size: 18px;
$black_color: #000000;
$input_border: 1px solid $input_border_color;
$input_select_border: 2px solid #0071BC;
$input_border_radius: 16px;
$dropdown_item_bg: #E6F4F9;



// date picker jquery custom style End

// .........Dropdown Style ...........
.dropdown_wrapper {
    max-width: 992px;
    margin: 3rem auto;
    // custom dropdown style

    .custom_nl_dropdown {
        * {
            font-family: 'Fieldwork';
        }

        label[for*='form-options'] {
            font-size: 20px;
            display: block;
            margin-bottom: 8px;
        }

        select.dropdown_action_ready {

            // if it is ready it should bold color
            ~.ui-button {
                font-weight: bold;
            }
        }

        .ui-selectmenu-button.ui-button {
            width: $input_width;
            height: $input_height;
            background: transparent;
            border: $input_border;
            padding: $input_padding;
            border-radius: $input_border_radius;
            color: $black_color;
            font-family: 'Fieldwork';
            font-style: normal;
            font-weight: 300;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;

            .ui-selectmenu-text {
                order: 1;
            }

            .ui-selectmenu-icon {
                order: 2;
            }

            &.ui-selectmenu-button-open {
                border: $input_select_border;
                color: $picker_primary_color;
                border-radius: $input_border_radius $input_border_radius 0px 0px;
            }

            .ui-icon {
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.0079 8L0.147903 0.865962C0.101039 0.819584 0.0638365 0.764407 0.0384521 0.703613C0.0130678 0.64282 0 0.577613 0 0.511754C0 0.445896 0.0130678 0.380689 0.0384521 0.319895C0.0638365 0.259101 0.101039 0.203924 0.147903 0.157547C0.194385 0.110787 0.249694 0.0736731 0.310623 0.0483454C0.371553 0.0230177 0.436893 0.0099779 0.502899 0.0099779C0.568905 0.0099779 0.634261 0.0230177 0.69519 0.0483454C0.75612 0.0736731 0.811429 0.110787 0.85791 0.157547L6.99791 6.53328L13.1379 0.147569C13.1844 0.10081 13.2397 0.0636952 13.3006 0.0383675C13.3615 0.0130398 13.4269 0 13.4929 0C13.5589 0 13.6243 0.0130398 13.6852 0.0383675C13.7461 0.0636952 13.8014 0.10081 13.8479 0.147569C13.8948 0.193947 13.932 0.249124 13.9574 0.309918C13.9827 0.370711 13.9958 0.435918 13.9958 0.501777C13.9958 0.567635 13.9827 0.632842 13.9574 0.693636C13.932 0.754429 13.8948 0.809606 13.8479 0.855984L7.0079 8Z' fill='%230071BC'/%3E%3C/svg%3E");
                width: 16px;
                height: 16px;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                transform: rotate(0deg);
                transition: .1s;
            }
        }

        .ui-selectmenu-button-open {
            .ui-icon {
                transform: rotate(180deg) !important;
            }
        }
    }


    // if dropdown need icon, use below code
    #dropdown_select_icon {
        * {
            font-family: 'Fieldwork', sans-serif;
        }

        .ui-button {
            padding-left: 56px;
            position: relative;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;

            .ui-selectmenu-text {
                order: 1;
            }

            .ui-selectmenu-icon {
                order: 2;
            }


        }


    }


    // global style 

    .form-group {
        position: relative;

        .dropdown_svg_icon {
            position: absolute;
            height: 25px;
            width: 25px;
            display: block;
            bottom: 21px;
            left: 16px;
            // transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: inherit;
                height: inherit;
            }
        }
    }

    // if dropdown need label, use below code
    #dropdown_select_label {
        position: relative;

        .custom_dropdown_label {
            position: absolute;
            left: 21px;
            bottom: 25px;
            transition: .1s;
        }

        .ui-button {
            .ui-selectmenu-text {
                opacity: 0;
            }

            &.ui-selectmenu-button-open {
                color: $black_color;

                ~.custom_dropdown_label {
                    bottom: 42px;
                    font-size: 14px;
                    opacity: 1;
                    color: $picker_primary_color;
                }

                .ui-selectmenu-text {
                    padding-top: 7px;
                    opacity: 1;
                }
            }
        }

        .dropdown_action_ready {
            ~.custom_dropdown_label {
                opacity: 0;
            }

            ~.ui-button .ui-selectmenu-text {
                opacity: 1;
            }
        }

    }

    // if dropdown need label and icon, in this time use both dropdown label and below icon code
    .dropdown_select_label_with_icon {
        .custom_dropdown_label {
            left: 56px !important;
        }

        .ui-button {
            padding-left: 56px !important;
            position: relative;
            display: block;
        }
    }

}

//  ui of dropdown
.custom_select_menu {

    // default custom dropdown style
    .ui-widget.ui-widget-content {
        border-left: $input_select_border !important;
        border-right: $input_select_border !important;
        border-bottom: $input_select_border !important;
        border-top-color: transparent;
        border-top-width: 0px;
        border-radius: 0px 0px $input_border_radius $input_border_radius;

        .ui-menu-item-wrapper {
            padding: $input_padding;
            border: none !important;
            color: $black_color;

            &.ui-state-active {
                border: none !important;
                background: $dropdown_item_bg;
                color: $black_color;
            }
        }
    }



}

// .........Dropdown Style ...........End