* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

// if no need scrollbar use it

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-o-scrollbar {
    display: none;
}

::-google-ms-scrollbar {
    display: none;
}

::-khtml-scrollbar {
    display: none;
}

// if no need scrollbar use it end.
// ...........Date Picker default css .......


// ............Date Picker Code .......
$input_width: 450px;
$input_height: 64px;
$picker_primary_color: #1E86CB;
$input_border_color: #B0B3B3;
$input_padding: 18px 20px;
$input_font_size: 18px;
$black_color: #000000;
$input_border: 2px solid $input_border_color;
$input_select_border: 1px solid #0071BC;
$input_border_radius: 16px;
$dropdown_item_bg: #E5F5FA;

$font_size_sm: 14px;


// sm size variables 
// mixing
@mixin date_round_size($size) {
    width: $size;
    height: $size;
}


.picker_wrapper {
    max-width: 992px;
    margin: 3rem auto;
    padding: 16px;

    .date_picker_wrapper {
        text-align: center;
        position: relative;
        width: 100%;
        max-width: $input_width;
        height: $input_height;
        font-family: 'Fieldwork', sans-serif;
        font-style: normal;
        font-weight: 300;

        @media (max-width: 482px) {
            width: 288px;
        }

        input {
            padding: $input_padding;
            padding-bottom: 12px;
            border: $input_border;
            font-size: $input_font_size;
            width: 100%;
            height: 100%;
            border-radius: $input_border_radius;
            user-select: none;
            font-weight: bold;

            &::placeholder {
                font-weight: bold;
                color: $black_color;
                opacity: 0;
            }

            &:focus {
                &::placeholder {
                    opacity: 1;
                }
            }

            &:focus,
            &:valid,
            &:focus-visible,
            &:focus-within {
                border: $input_select_border;
                outline: none;

                ~.label_text {
                    color: $picker_primary_color;
                    top: 14px;
                    font-size: $font_size_sm;
                }

                ~.date_format_span {
                    opacity: 1;
                }


            }

            &:valid {
                +.date_format_span {
                    opacity: 0;
                }
            }
        }

        .date_format_span {
            position: absolute;
            top: 50%;
            left: 0px;
            padding-left: 15px;
            pointer-events: none;
            transform: translateY(-50%);
            font-weight: bold;
            opacity: 0;
        }

        .label_text {
            position: absolute;
            top: 50%;
            left: 0px;
            padding-left: 15px;
            transform: translateY(-50%);
            font-size: 16px;
            pointer-events: none;
            font-weight: 300;
            transition: .1s;
        }

        .input_icon {
            height: 35px;
            position: absolute;
            right: 20px;
            top: calc(50% + 0px);
            transform: translateY(-50%);
            cursor: pointer;

            @media (max-width: 600px) {
                display: none;

            }


            svg {
                height: 35px !important;
            }
        }

    }

    .date_picker_range_wrapper {
        display: flex;
        align-items: center;

        @media (max-width: 600px) {
            border: $input_border;
            border-radius: $input_border_radius;

            input {
                border: none !important;
                // border-radius: 0px!important;
            }
        }


    }
}

.date_picker_range_wrapper {
    position: relative;

    .input_icon_sm {
        display: none;

        @media (max-width: 600px) {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            left: calc(50% - 10px);
            right: auto;
            z-index: 2;
            cursor: pointer;
        }
    }

    .date_picker_range {
        &.date_picker_range_start {
            margin-right: 16px;
        }

        input,
        input::placeholder {
            @media (max-width: 600px) {
                font-size: 16px !important;
            }
        }
    }
}



// date picker jquery custom style 
.datepicker_custom_nl_fr {
    background: white;
    border: none !important;
    width: $input_width;
    box-shadow: 0px 8px 32px -8px rgba(0, 0, 0, 0.16);
    padding: 10px;
    width: $input_width;

    &.picker_range {
        width: var(--range-width);

        .ui-datepicker {
            border: none !important;
            width: 100% !important;

            .ui-datepicker-group-last {
                position: relative;
                left: 0%;
                width: 50% !important;

                .ui-datepicker-title::after {
                    display: none;
                }
            }

            .dp-highlight {
                position: relative;

                a {
                    position: relative;
                    z-index: 2;

                }

                .ui-state-default {
                    background: #E6F4F9 !important;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 0px !important;

                    &.ui-state-active {
                        background: #003B5C !important;
                        color: #fff;
                        border-radius: 50% !important;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

    @media (max-width: 482px) {
        width: 288px;
    }

    .ui-widget-header {
        background: transparent;
        border: none;
    }

    .ui-datepicker-calendar {
        thead {
            th {
                font-size: $font_size_sm;
                color: #75787A;
                font-weight: 300;
            }
        }
    }

    .dp-highlight {
        // height: 40px;

        // @media (max-width: 482px) {
        //     height: 32px;
        // }
        .ui-state-highlight{
            color: black!important;
        }
    }

    .ui-state-default {
        background: transparent;
        text-align: center;
        border: none;
        color: $black_color;
        @include date_round_size(40px);

        @media (max-width: 482px) {
            @include date_round_size(32px);
        }

        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;

        &.ui-state-highlight,
        &.ui-state-active {
            background: #003B5C;
        }

        &.ui-state-highlight {
            color: #fff;
        }
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        background: transparent !important;
        border: none !important;
        margin: 0;
        padding: 0;
        cursor: pointer;

        span {
            background-repeat: no-repeat;
            background-position: initial;
        }
    }

    .ui-datepicker-title {
        position: relative;

        &::after {
            content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.0079 12.1816L1.1479 5.0476C1.10104 5.00122 1.06384 4.94605 1.03845 4.88525C1.01307 4.82446 1 4.75925 1 4.69339C1 4.62754 1.01307 4.56233 1.03845 4.50154C1.06384 4.44074 1.10104 4.38556 1.1479 4.33919C1.19438 4.29243 1.24969 4.25531 1.31062 4.22999C1.37155 4.20466 1.43689 4.19162 1.5029 4.19162C1.56891 4.19162 1.63426 4.20466 1.69519 4.22999C1.75612 4.25531 1.81143 4.29243 1.85791 4.33919L7.99791 10.7149L14.1379 4.32921C14.1844 4.28245 14.2397 4.24534 14.3006 4.22001C14.3615 4.19468 14.4269 4.18164 14.4929 4.18164C14.5589 4.18164 14.6243 4.19468 14.6852 4.22001C14.7461 4.24534 14.8014 4.28245 14.8479 4.32921C14.8948 4.37559 14.932 4.43076 14.9574 4.49156C14.9827 4.55235 14.9958 4.61756 14.9958 4.68342C14.9958 4.74928 14.9827 4.81448 14.9574 4.87528C14.932 4.93607 14.8948 4.99125 14.8479 5.03762L8.0079 12.1816Z' fill='%230071BC'/%3E%3C/svg%3E");
            margin-left: -16px;
            z-index: 2;
            position: absolute;
            // transform: rotate(-90deg);
            margin-top: 1px;
            fill: $picker_primary_color;
            pointer-events: none;
        }
    }

    .ui-datepicker-month {
        font-size: $input_font_size;
        font-weight: 500;
    }

    select.ui-datepicker-year {
        width: 62px;
        font-weight: bold;
        appearance: none;
        border: none;
        position: relative;
        font-weight: 500;
        font-size: $input_font_size;

        &:focus-visible {
            outline: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &::-moz-scrollbar {
            display: none;
        }

        &::-o-scrollbar {
            display: none;
        }

        &::-google-ms-scrollbar {
            display: none;
        }

        &::-khtml-scrollbar {
            display: none;
        }
    }

    .ui-datepicker-prev {
        left: 2px !important;
        top: 2px !important;

        span {
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='15' viewBox='0 0 8 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.4926 14.455C7.36303 14.4519 7.23891 14.4022 7.14295 14.315L0 7.45501L7.14295 0.595009C7.238 0.50276 7.3652 0.451172 7.4976 0.451172C7.62999 0.451172 7.75719 0.50276 7.85225 0.595009C7.89906 0.641491 7.93622 0.696791 7.96158 0.757721C7.98694 0.818651 8 0.884003 8 0.950009C8 1.01602 7.98694 1.08137 7.96158 1.1423C7.93622 1.20323 7.89906 1.25853 7.85225 1.30501L1.44857 7.45501L7.84225 13.595C7.88907 13.6415 7.92623 13.6968 7.95159 13.7577C7.97695 13.8187 7.99001 13.884 7.99001 13.95C7.99001 14.016 7.97695 14.0814 7.95159 14.1423C7.92623 14.2032 7.88907 14.2585 7.84225 14.305C7.74942 14.3983 7.62413 14.4521 7.4926 14.455Z' fill='%230071BC'/%3E%3C/svg%3E");

        }
    }

    .ui-datepicker-next {
        right: 2px !important;
        top: 2px !important;

        span {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 15.4548C4.40092 15.4534 4.30449 15.4226 4.22294 15.3663C4.14138 15.31 4.07839 15.2308 4.04196 15.1387C4.00553 15.0465 3.9973 14.9456 4.01832 14.8488C4.03934 14.7519 4.08865 14.6635 4.16 14.5948L10.55 8.45477L4.15 2.31477C4.10314 2.26829 4.06594 2.21299 4.04056 2.15206C4.01517 2.09113 4.00211 2.02578 4.00211 1.95977C4.00211 1.89377 4.01517 1.82842 4.04056 1.76749C4.06594 1.70656 4.10314 1.65126 4.15 1.60477C4.24515 1.51253 4.37248 1.46094 4.505 1.46094C4.63753 1.46094 4.76485 1.51253 4.86 1.60477L12 8.45477L4.85 15.3148C4.75495 15.4036 4.63008 15.4535 4.5 15.4548V15.4548Z' fill='%230071BC'/%3E%3C/svg%3E");
        }
    }
}

// date picker jquery custom style End