* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

::-o-scrollbar {
  display: none;
}

::-google-ms-scrollbar {
  display: none;
}

::-khtml-scrollbar {
  display: none;
}

.picker_wrapper {
  max-width: 992px;
  margin: 3rem auto;
}
.picker_wrapper .date_picker_wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 500px;
}
.picker_wrapper .date_picker_wrapper input {
  padding: 18px 20px;
  padding-bottom: 12px;
  border: 2px solid rgba(172, 175, 175, 0.6);
  font-size: 16px;
  width: 100%;
  border-radius: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
}
.picker_wrapper .date_picker_wrapper input::-moz-placeholder {
  font-weight: bold;
  color: #000000;
  opacity: 0;
}
.picker_wrapper .date_picker_wrapper input:-ms-input-placeholder {
  font-weight: bold;
  color: #000000;
  opacity: 0;
}
.picker_wrapper .date_picker_wrapper input::placeholder {
  font-weight: bold;
  color: #000000;
  opacity: 0;
}
.picker_wrapper .date_picker_wrapper input:focus::-moz-placeholder {
  opacity: 1;
}
.picker_wrapper .date_picker_wrapper input:focus:-ms-input-placeholder {
  opacity: 1;
}
.picker_wrapper .date_picker_wrapper input:focus::placeholder {
  opacity: 1;
}
.picker_wrapper .date_picker_wrapper input:focus, .picker_wrapper .date_picker_wrapper input:valid, .picker_wrapper .date_picker_wrapper input:focus-visible, .picker_wrapper .date_picker_wrapper input:focus-within {
  border-color: #1E86CB !important;
  outline: none;
}
.picker_wrapper .date_picker_wrapper input:focus ~ .label_text, .picker_wrapper .date_picker_wrapper input:valid ~ .label_text, .picker_wrapper .date_picker_wrapper input:focus-visible ~ .label_text, .picker_wrapper .date_picker_wrapper input:focus-within ~ .label_text {
  color: #1E86CB;
  top: calc(50% - 14px);
  font-size: 13px;
}
.picker_wrapper .date_picker_wrapper input:focus ~ .date_format_span, .picker_wrapper .date_picker_wrapper input:valid ~ .date_format_span, .picker_wrapper .date_picker_wrapper input:focus-visible ~ .date_format_span, .picker_wrapper .date_picker_wrapper input:focus-within ~ .date_format_span {
  opacity: 1;
}
.picker_wrapper .date_picker_wrapper input:valid + .date_format_span {
  opacity: 0;
}
.picker_wrapper .date_picker_wrapper .date_format_span {
  position: absolute;
  top: 50%;
  left: 0px;
  padding-left: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  font-weight: bold;
  opacity: 0;
}
.picker_wrapper .date_picker_wrapper .label_text {
  position: absolute;
  top: 50%;
  left: 0px;
  padding-left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  font-weight: bold;
  transition: 0.1s;
}
.picker_wrapper .date_picker_wrapper .input_icon {
  height: 35px;
  position: absolute;
  right: 20px;
  top: calc(50% + 0px);
  transform: translateY(-50%);
  cursor: pointer;
}

#ui-datepicker-div.datepicker_custom_nl_fr {
  background: white;
  border: none;
  width: 500px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-widget-header {
  background: transparent;
  border: none;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-calendar thead th {
  opacity: 0.7;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-state-default {
  background: transparent;
  text-align: center;
  border: none;
  color: #000000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-state-default.ui-state-highlight, #ui-datepicker-div.datepicker_custom_nl_fr .ui-state-default.ui-state-active {
  background: #003B5C;
  color: #fff;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-prev,
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-next {
  background: transparent !important;
  border: none !important;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-prev span,
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-next span {
  background-repeat: no-repeat;
  background-position: initial;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-title {
  position: relative;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-title::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231E86CB' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
  width: 13px;
  height: 13px;
  margin-left: -20px;
  z-index: 2;
  position: absolute;
  transform: rotate(-90deg);
  margin-top: 6px;
  fill: #1E86CB;
  pointer-events: none;
}
#ui-datepicker-div.datepicker_custom_nl_fr select.ui-datepicker-year {
  width: 62px;
  font-weight: bold;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  position: relative;
}
#ui-datepicker-div.datepicker_custom_nl_fr select.ui-datepicker-year:focus-visible {
  outline: none;
}
#ui-datepicker-div.datepicker_custom_nl_fr select.ui-datepicker-year::-webkit-scrollbar {
  display: none;
}
#ui-datepicker-div.datepicker_custom_nl_fr select.ui-datepicker-year::-moz-scrollbar {
  display: none;
}
#ui-datepicker-div.datepicker_custom_nl_fr select.ui-datepicker-year::-o-scrollbar {
  display: none;
}
#ui-datepicker-div.datepicker_custom_nl_fr select.ui-datepicker-year::-google-ms-scrollbar {
  display: none;
}
#ui-datepicker-div.datepicker_custom_nl_fr select.ui-datepicker-year::-khtml-scrollbar {
  display: none;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-prev {
  left: 2px !important;
  top: 2px !important;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-prev span {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231E86CB' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-next {
  right: 2px !important;
  top: 2px !important;
}
#ui-datepicker-div.datepicker_custom_nl_fr .ui-datepicker-next span {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231E86CB' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z'/%3E%3C/svg%3E");
}

.dropdown_wrapper {
  max-width: 992px;
  margin: 3rem auto;
}
.dropdown_wrapper .custom_nl_dropdown label[for*=form-options] {
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
}
.dropdown_wrapper .custom_nl_dropdown select.dropdown_action_ready ~ .ui-button {
  font-weight: bold;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button.ui-button {
  width: 500px;
  background: transparent;
  border: 2px solid rgba(172, 175, 175, 0.6);
  padding: 18px 20px;
  border-radius: 12px;
  color: #000000;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button.ui-button.ui-selectmenu-button-open {
  border-color: #1E86CB;
  color: #1E86CB;
  border-radius: 12px 12px 0px 0px;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button.ui-button .ui-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231E86CB' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
  transition: 0.1s;
}
.dropdown_wrapper .custom_nl_dropdown .ui-selectmenu-button-open .ui-icon {
  transform: rotate(90deg) !important;
}
.dropdown_wrapper #dropdown_select_icon .ui-button {
  padding-left: 50px;
  position: relative;
  display: block;
}
.dropdown_wrapper #dropdown_select_icon .ui-button::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' fill='%231E86CB' height='25' class='bi bi-geo-alt' viewBox='0 0 16 16'%3E%3Cpath d='M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z'/%3E%3Cpath d='M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/%3E%3C/svg%3E");
  position: absolute;
  height: 25px;
  width: 25px;
  display: block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_wrapper #dropdown_select_label {
  position: relative;
}
.dropdown_wrapper #dropdown_select_label .custom_dropdown_label {
  position: absolute;
  left: 21px;
  bottom: 20px;
  transition: 0.1s;
}
.dropdown_wrapper #dropdown_select_label .ui-button .ui-selectmenu-text {
  opacity: 0;
}
.dropdown_wrapper #dropdown_select_label .ui-button.ui-selectmenu-button-open {
  color: #000000;
}
.dropdown_wrapper #dropdown_select_label .ui-button.ui-selectmenu-button-open ~ .custom_dropdown_label {
  bottom: 45px;
  font-size: 12px;
  opacity: 1;
  color: #1E86CB;
}
.dropdown_wrapper #dropdown_select_label .ui-button.ui-selectmenu-button-open .ui-selectmenu-text {
  padding-top: 7px;
  opacity: 1;
}
.dropdown_wrapper #dropdown_select_label .dropdown_action_ready ~ .custom_dropdown_label {
  opacity: 0;
}
.dropdown_wrapper #dropdown_select_label .dropdown_action_ready ~ .ui-button .ui-selectmenu-text {
  opacity: 1;
}
.dropdown_wrapper .dropdown_select_label_with_icon .custom_dropdown_label {
  left: 50px !important;
}
.dropdown_wrapper .dropdown_select_label_with_icon .ui-button {
  padding-left: 50px !important;
  position: relative;
  display: block;
}
.dropdown_wrapper .dropdown_select_label_with_icon .ui-button::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' fill='%231E86CB' height='25' class='bi bi-geo-alt' viewBox='0 0 16 16'%3E%3Cpath d='M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z'/%3E%3Cpath d='M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/%3E%3C/svg%3E");
  position: absolute;
  height: 25px;
  width: 25px;
  display: block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_select_menu .ui-widget.ui-widget-content {
  border-left: 2px solid #1E86CB !important;
  border-right: 2px solid #1E86CB !important;
  border-bottom: 2px solid #1E86CB !important;
  border-top-color: transparent;
  border-radius: 0px 0px 12px 12px;
}
.custom_select_menu .ui-widget.ui-widget-content .ui-menu-item-wrapper {
  padding: 18px 20px;
  border: none !important;
  color: #000000;
}
.custom_select_menu .ui-widget.ui-widget-content .ui-menu-item-wrapper.ui-state-active {
  border: none !important;
  background: #E5F5FA;
  color: #000000;
}/*# sourceMappingURL=date_picker.css.map */