* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.picker_wrapper {
  max-width: 992px;
  margin: 3rem auto;
}
.picker_wrapper .date_picker_wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1000px;
}
.picker_wrapper .date_picker_wrapper input {
  padding: 18px 18px;
  border: 2px solid #ACAFAF;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.picker_wrapper .date_picker_wrapper input:focus, .picker_wrapper .date_picker_wrapper input:focus-visible, .picker_wrapper .date_picker_wrapper input:focus-within {
  border-color: #1E86CB !important;
  outline: none;
}
.picker_wrapper .date_picker_wrapper input:focus + .label_text, .picker_wrapper .date_picker_wrapper input:focus-visible + .label_text, .picker_wrapper .date_picker_wrapper input:focus-within + .label_text {
  color: #1E86CB;
  top: calc(50% - 18px);
  font-size: 14px;
}
.picker_wrapper .date_picker_wrapper input:focus + .date_format_span, .picker_wrapper .date_picker_wrapper input:focus-visible + .date_format_span, .picker_wrapper .date_picker_wrapper input:focus-within + .date_format_span {
  opacity: 1;
}
.picker_wrapper .date_picker_wrapper input:focus + .input_icon svg, .picker_wrapper .date_picker_wrapper input:focus-visible + .input_icon svg, .picker_wrapper .date_picker_wrapper input:focus-within + .input_icon svg {
  fill: #1E86CB;
}
.picker_wrapper .date_picker_wrapper input:valid + .date_format_span {
  opacity: 0;
}
.picker_wrapper .date_picker_wrapper .date_format_span {
  position: absolute;
  top: 50%;
  left: 0px;
  padding-left: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  font-weight: bold;
  opacity: 0;
}
.picker_wrapper .date_picker_wrapper .label_text {
  position: absolute;
  top: 50%;
  left: 0px;
  padding-left: 15px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}
.picker_wrapper .date_picker_wrapper .input_icon {
  height: 30px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.picker_wrapper .date_picker_wrapper .input_icon svg {
  height: inherit;
}

#ui-datepicker-div {
  background: white;
  border: none;
  width: 1000px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#ui-datepicker-div .ui-widget-header {
  background: transparent;
  border: none;
}
#ui-datepicker-div .ui-datepicker-calendar thead th {
  opacity: 0.7;
}
#ui-datepicker-div .ui-state-default {
  background: transparent;
  text-align: center;
  border: none;
  color: #000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#ui-datepicker-div .ui-state-default.ui-state-highlight, #ui-datepicker-div .ui-state-default.ui-state-active {
  background: #003B5C;
  color: #fff;
}
#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next {
  background: transparent !important;
  border: none !important;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#ui-datepicker-div .ui-datepicker-prev span,
#ui-datepicker-div .ui-datepicker-next span {
  background-repeat: no-repeat;
  background-position: initial;
}
#ui-datepicker-div .ui-datepicker-prev {
  left: 2px !important;
  top: 2px !important;
}
#ui-datepicker-div .ui-datepicker-prev span {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
}
#ui-datepicker-div .ui-datepicker-next {
  right: 2px !important;
  top: 2px !important;
}
#ui-datepicker-div .ui-datepicker-next span {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z'/%3E%3C/svg%3E");
}/*# sourceMappingURL=date_picker.css.map */