* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

$input_width: 446px;
$input_height: 64px;
$picker_primary_color: #1E86CB;
$input_border_color: #B0B3B3;
$input_padding: 16px 18px;
$input_font_size: 18px;
$black_color: #000000;
$input_border: 1px solid $input_border_color;
$input_select_border: 2px solid #0071BC;
$input_border_radius: 16px;
$dropdown_item_bg: #E6F4F9;


// .........Dropdown Style ...........
.dropdown_wrapper {
    max-width: 992px;
    margin: 3rem auto;
    // custom dropdown style

    label[for*='form-options'] {
        font-size: 20px;
        display: block;
        margin-bottom: 8px;
    }

    .custom_nl_dropdown {
        width: $input_width;

        select {
            width: $input_width;
            height: $input_height;
            position: relative;
            z-index: 1;
        }

        .custom_nl_dropdown_group {
            position: relative;
            .dropdown_ul {
                width: 100%;
                border: solid;
                background: white;
                position: absolute;
                z-index: 100;
            }
        }

    }
}